@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desktop-Design ============>=======>>>>>=====>>> */
/* Header */
.tabs a li {
  @apply cursor-pointer flex items-center hover:text-gray-300;
}
.tabs a li:after {
  content: "";
  @apply absolute bg-[#fff] h-[3px] w-[0px] left-0 -bottom-1 rounded-[30px] transition-all ease-in-out duration-1000;
}
.tabs a li:hover:after {
  @apply w-full;
}

/* Header */

/* Body */
.banner{
  background-image: url('/img/herobanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-banner{
  @apply bg-[#11111179] text-[#fff] px-10 py-20;
}
/* sectonOne */
.secpic{
  width: 100%;
}
/* Body */

/* Footer */

/* Footer */
/* Desktop-Design ============>=======>>>>>=====>>> */
